<nav class="navbar navbar-default app-actionbar">
  <div class="container-fluid">
    <div class="navbar-right">
      <button type="button" class="btn btn-success navbar-btn" (click)="saveModal.show()">
        <span class="app-icon fa fa-plus"></span>
        Agregar Turno
      </button>
    </div>
  </div>
</nav>
<div class="list-group">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Turnos</h4>
    <p class="list-group-item-text"> {{turnos.length}} Turnos Activos</p>
  </a>
  <div *ngIf="turnos[0]">

    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Día</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Centro de Salud</th>
          <th>Especialidad</th>
          <th>Profesional</th>
          <th>Observaciones</th>
          <th width="1em"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let turno of pagedItems">
          <td>{{turno.dia | date: 'EEEE'}}</td>
          <td>{{turno.fecha | date: 'dd/MM/yyyy'}}</td>
          <td>{{turno.hora | date: 'HH:mm'}}</td>
          <td>{{turno.centroSalud.nombre}}</td>
          <td>{{turno.especialidad.nombre}}</td>
          <td>{{turno.profesional.nombre}}</td>
          <td>{{turno.observaciones}}</td>
          <td class="text-right">
            <div class="btn-group">
              <a (click)="showDeleteModal(turno)" class="btn btn-danger btn-md">
                <span class="fa  fa-times"></span>
              </a>

            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-6">
        <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="totalItems"
                    [(ngModel)]="currentPage" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>

  </div>
</div>


<!-- MODAL de ALTa-->
<!--MODAL UPDATE-->
<app-modal [title]="'Alta Turnos'" (outModal)="handleSaveModal($event)">

  <form [formGroup]="form" (ngSubmit)="submitSaveForm(form.value)">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group"
             [ngClass]="{'has-error':!form.controls['centro'].valid && form.controls['centro'].touched}">
          <label>Centro de Salud</label>
          <div class="btn-group btn-block" dropdown>
            <button dropdownToggle type="button" class="minimal btn btn-block btn-default">
              {{ model.centro ? model.centro.nombre : 'Centro de Salud'}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem" *ngFor="let centro of centrosSalud">
                <a class="dropdown-item" (click)="handleCentroSaludClick(centro)">{{centro.nombre}}</a>
              </li>
            </ul>
          </div>
          <div *ngIf="form.controls['centro'].hasError('required') && form.controls['centro'].touched"
               class="help-block">Debes incluir el centro de Salud.
          </div>
        </div>
      </div><!--end centro dropdown-->
      <div class="col-sm-6"><!--especialidad-->
        <div class="form-group" [ngClass]="{'has-error':!form.controls['especialidad'].valid && form.controls['especialidad'].touched}">
          <label class="control-label">Especialidad</label>
          <div class="btn-group btn-block" dropdown>
            <button dropdownToggle type="button" class="minimal btn btn-block btn-default">
              {{ model.especialidad ? model.especialidad.nombre : 'Especialidad'}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem" *ngFor="let especialidad of especialidades">
                <a class="dropdown-item"
                   (click)="handleEspecialidadClick(especialidad)">{{especialidad.nombre}}</a>
              </li>
            </ul>
          </div>
          <div *ngIf="form.controls['especialidad'].hasError('required') && form.controls['especialidad'].touched"
               class="help-block">Debes incluir la especialidad.
          </div>
        </div>
      </div><!--end Especialidad dropdown-->
    </div><!--row end-->

    <div class="row"><!--nuevo row-->
      <div class="col-sm-6">
        <div class="form-group" [ngClass]="{'has-error':!form.controls['profesional'].valid && form.controls['profesional'].touched}">
          <label class="control-label">Profesional</label>
          <div class="btn-group btn-block" dropdown>
            <button dropdownToggle type="button" class="minimal btn btn-block btn-default">
              {{ model.profesional ? model.profesional.nombre : 'Profesional'}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem" *ngFor="let profesional of profesionales">
                <a class="dropdown-item" (click)="handleProfesionalClick(profesional)">{{profesional.nombre}}</a>
              </li>
            </ul>
          </div>
          <div *ngIf="form.controls['profesional'].hasError('required') && form.controls['profesional'].touched"
               class="help-block">Debes incluir un profesional.
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group" [ngClass]="{'has-error':!form.controls['observaciones'].valid && form.controls['observaciones'].touched}">
          <label for="comment" class="control-label">Observaciones</label>
          <textarea [(ngModel)]="model.observaciones"  class="form-control" type="text"
                    placeholder="Observaciones"
                    [formControl]="form.controls['observaciones']"  ></textarea>
          <div *ngIf="form.controls['observaciones'].hasError('required') && form.controls['observaciones'].touched"
               class="help-block">Debes incluir una observacion.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" [ngClass]="{'has-error':!form.controls['hora'].valid && form.controls['hora'].touched}">
          <label for="hora" class="control-label">Hora</label>
          <timepicker [(ngModel)]="model.hora" class="form-control" [formControl]="form.controls['hora']" ></timepicker>
        </div>
        <div *ngIf="form.controls['hora'].hasError('required') && form.controls['hora'].touched"
             class="help-block">Ingrese hora.
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group" [ngClass]="{'has-error':!form.controls['fechaDesde'].valid && form.controls['fechaDesde'].touched}">
          <label for="fechaDesde" class="control-label">Fecha</label>
          <div style="display:inline-block; min-height:290px;">
            <datepicker [(ngModel)]="model.fechaDesde"  class="form-control" [formControl]="form.controls['fechaDesde']" ></datepicker>
          </div>
          <div *ngIf="form.controls['fechaDesde'].hasError('required') && form.controls['fechaDesde'].touched"
               class="help-block">Debes incluir una fecha.
          </div>
        </div>
      </div>
    </div><!--Fin row-->
    <button  type="submit" class="btn btn-primary btn-block" >GUARDAR</button>
   <!-- <a (click)="clean()" class="btn btn-default">
      <span class="app-icon-dark fa fa-times-circle"></span>
      Limpiar
    </a>-->
  </form>
</app-modal>


<!-- MODAL de BAJA-->
<app-modal [title]="'Confirmación'" (outModal)="handleDeleteModal($event)">
  <label>¿Querés dar de baja a este Turno?</label>
  <br>
  <div class="text-right">
    <button type="button" class="btn btn-danger" (click)="deleteTurno()">
      ELIMINAR
    </button>
  </div>
</app-modal>
