<nav class="navbar navbar-default app-actionbar">
  <div class="container-fluid">
    <div class="navbar-right">
      <button type="button" class="btn btn-success navbar-btn" (click)="saveModal.show()">
        <span class="app-icon fa fa-plus"></span>
        Agregar Turno
      </button>
    </div>
  </div>
</nav>
<div class="list-group">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Turnos</h4>
    <p class="list-group-item-text"> {{turnos.length}} Turnos Activos</p>
  </a>
  <div *ngIf="turnos[0]">

    <div class="table-responsive">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Día</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Centro de Salud</th>
          <th>Especialidad</th>
          <th>Profesional</th>
          <th>Observaciones</th>
          <th width="1em"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let turno of pagedItems">
          <td>{{turno.dia | date: 'EEEE'}}</td>
          <td>{{turno.fecha | date: 'dd/MM/yyyy'}}</td>
          <td>{{turno.hora | date: 'HH:mm'}}</td>
          <td>{{turno.centroSalud.nombre}}</td>
          <td>{{turno.especialidad.nombre}}</td>
          <td>{{turno.profesional.nombre}}</td>
          <td>{{turno.observaciones}}</td>
          <td class="text-right">
            <div class="btn-group">
              <a (click)="showDeleteModal(turno)" class="btn btn-danger btn-md">
                <span class="fa  fa-times"></span>
              </a>

            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-6">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>

  </div>
</div>


<!-- MODAL de ALTa-->
<app-modal [title]="'Alta Turnos'" (outModal)="handleSaveModal($event)">

  <form [formGroup]="form" (ngSubmit)="submitSaveForm(form.value)">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group"
             [ngClass]="{'has-error' : !form.controls['centro'].valid && form.controls['centro'].touched}">
          <label class="control-label required">Centro de Salud</label>

          <select type="text" class="form-control" [formControl]="form.controls['centro']"
                  (change)="handleCentroSaludClick(form.value.centro)">
            <option disabled hidden [value]="selectUndefined">-- Seleccionar --</option>
            <option [ngValue]="centro" *ngFor="let centro of centrosSalud">{{centro.nombre}}</option>
          </select>

          <small *ngIf="form.controls['centro'].hasError('required') && form.controls['centro'].touched"
                 class="help-block">Debes incluir el centro de Salud.
          </small>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group"
             [ngClass]="{'has-error':!form.controls['especialidad'].valid && form.controls['especialidad'].touched}">

          <label class="control-label required">Especialidad</label>

          <select type="text" class="form-control" [formControl]="form.controls['especialidad']"
                  (change)="handleEspecialidadClick(form.value.especialidad)">
            <option disabled hidden [value]="selectUndefined">-- Seleccionar --</option>
            <option [ngValue]="especialidad" *ngFor="let especialidad of especialidades">{{especialidad.nombre}}
            </option>
          </select>


          <small *ngIf="form.controls['especialidad'].hasError('required') && form.controls['especialidad'].touched"
                 class="help-block">Debes incluir la especialidad.
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group"
             [ngClass]="{'has-error':!form.controls['profesional'].valid && form.controls['profesional'].touched}">

          <label class="control-label required">Profesional</label>

          <select type="text" class="form-control" [formControl]="form.controls['profesional']"
                  (change)="handleProfesionalClick(form.value.profesional)">
            <option disabled hidden [value]="selectUndefined">-- Seleccionar --</option>
            <option [ngValue]="profesional" *ngFor="let profesional of profesionales">{{profesional.nombre}}</option>
          </select>

          <small *ngIf="form.controls['profesional'].hasError('required') && form.controls['profesional'].touched"
                 class="help-block">Debes incluir un profesional.
          </small>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group"
             [ngClass]="{'has-error':!form.controls['observaciones'].valid && form.controls['observaciones'].touched}">
          <label class="control-label">Observaciones</label>
          <textarea [(ngModel)]="model.observaciones" class="form-control" type="text"
                    placeholder="Observaciones"
                    [formControl]="form.controls['observaciones']"></textarea>
          <small *ngIf="form.controls['observaciones'].hasError('required') && form.controls['observaciones'].touched"
                 class="help-block">Debes incluir una observacion.
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label">Hora</label>
          <div style="display:inline-block; min-height:150px;">
            <timepicker class="timepicker" [(ngModel)]="model.hora"
                        [ngModelOptions]="{standalone: true}" class="form-control"></timepicker>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label">Fecha</label>

          <my-date-picker id="fecha" [options]="myDatePickerOptions"
                          [locale]="'es'" [formControl]="form.controls['fechaDesde']"></my-date-picker>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-right">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">GUARDAR</button>
      </div>
    </div>
  </form>
</app-modal>


<!-- MODAL de BAJA-->
<app-modal [title]="'Confirmación'" (outModal)="handleDeleteModal($event)">
  <label>¿Querés dar de baja a este Turno?</label>
  <br>
  <div class="text-right">
    <button type="button" class="btn btn-danger" (click)="deleteTurno()">
      ELIMINAR
    </button>
  </div>
</app-modal>
