<div class="container">
  <div class="card-container">

    <div (click)="navigate('/turno/nuevo')" class="col-md-4 text-center no-padding">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="../../../../assets/img/nuevo-turno.jpg">
          <span class="card-title"><strong>Nuevo Turno</strong></span>
        </div>
        <div class="card-action">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-link"><strong>RESERVAR TURNO</strong></a>
          </div>
        </div>
      </div>
    </div>

    <div (click)="navigate('/turno/tomados')" class="col-md-4 text-center no-padding">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="../../../../assets/img/mis-turnos.jpg">
          <span class="card-title"><strong>Turnos Tomados</strong></span>
        </div>
        <div class="card-action">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-link"><strong>MIS TURNOS</strong></a>
          </div>
        </div>
      </div>
    </div>

    <!--<div (click)="navigate('/grupo-familiar')" class="col-md-4 text-center no-padding">-->
    <!--<div class="card">-->
    <!--<div class="card-image">-->
    <!--<img class="img-responsive" src="../../../../assets/img/familia.jpg">-->
    <!--<span class="card-title"><strong>Grupo Familiar</strong></span>-->
    <!--</div>-->
    <!--<div class="card-action">-->
    <!--<div class="btn-group btn-group-justified">-->
    <!--<a class="btn btn-link"><strong>GESTIONAR GRUPO FAMILIAR</strong></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

  </div>
</div>
<br>
<br>
<app-footer></app-footer>
