<!-- Menu -->
<div class="side-menu">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Main Menu -->
    <div class="side-menu-container">
      <ul class="nav navbar-nav">
        <li class='sidebar-item'>
          <a routerLinkActive="active" [routerLink]="['turno']">
            Turnos
          </a>
        </li>
        <li class='sidebar-item'>
          <a routerLinkActive="active" [routerLink]="['especialidad']">
            Especialidades
          </a>
        </li>
        <li class='sidebar-item'>
          <a routerLinkActive="active" [routerLink]="['centro-salud']">
            Centros de Salud
          </a>
        </li>
        <li class='sidebar-item'>
          <a routerLinkActive="active" [routerLink]="['profesional']">
            Profesionales
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

