<!-- Menu -->
<div class="side-menu">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Main Menu -->
    <div class="side-menu-container">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['turno']">
            Turnos
          </a>
        </li>
        <li>
          <a [routerLink]="['especialidad']">
            Especialidades
          </a>
        </li>
        <li>
          <a [routerLink]="['centro-salud']">
            Centros de Salud
          </a>
        </li>
        <li>
          <a [routerLink]="['profesional']">
            Profesionales
          </a>
        </li>
        <li>
          <a [routerLink]="['alta-turno']">
            Crear Turno
          </a>
        </li>
        <li>
          <a [routerLink]="['baja-turno']">
            Dar de Baja Turno
          </a>
        </li>
        <li>
          <a [routerLink]="['alta-especialidad']">
            Alta Especialidad
          </a>
        <li>
          <a [routerLink]="['alta-centro-salud']">
            Alta Centro Salud
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

