<br>
<div class="row">
  <div *ngIf="turnos[0] && !desktopMode">

    <div *ngFor="let turno of turnos" class="text-center">
      <div class="card">
        <div class="card-content text-left">
          <label><strong>Día: </strong>{{turno.dia | date: 'EEEE'}}</label><br>
          <label><strong>Fecha: </strong>{{turno.fecha | date: 'dd/MM/yyyy'}}</label><br>
          <label><strong>Hora: </strong>{{turno.hora | date: 'HH:mm'}}</label>
          <label *ngIf="turno.centroSalud && turno.centroSalud.nombre"><br><strong>Centro de
            Salud: </strong>{{turno.centroSalud.nombre}}</label><br>
          <label *ngIf="turno.especialidad && turno.especialidad.nombre"><br><strong>Especialidad: </strong>{{turno.especialidad.nombre}}</label>
          <label><strong>Profesional: </strong>{{turno.profesional.nombre}}</label><br>
          <label><strong>Observaciones: </strong>{{turno.observaciones || ' - '}}</label>
        </div>
      </div>
      <br>
    </div>

  </div>
  <div *ngIf="turnos[0] && desktopMode" class="col-sm-12">
    <div class="col-sm-12">
      <div class="list-group">
        <div class="table-responsive">
          <table class="table table-striped app-table">
            <thead>
            <tr>
              <th>Día</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th *ngIf="turnos[0].centroSalud.nombre">Centro de Salud</th>
              <th *ngIf="turnos[0].especialidad.nombre">Especialidad</th>
              <th>Profesional</th>
              <th>Observaciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turno of turnos">
              <td>{{turno.dia | date: 'EEEE'}}</td>
              <td>{{turno.fecha | date: 'dd/MM/yyyy'}}</td>
              <td>{{turno.hora | date: 'HH:mm'}}</td>
              <td *ngIf="turnos[0].centroSalud.nombre">{{turno.centroSalud.nombre}}</td>
              <td *ngIf="turnos[0].especialidad.nombre">{{turno.especialidad.nombre}}</td>
              <td>{{label(turno.profesional)}}</td>
              <td>{{turno.observaciones || ' - '}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [title]="'Confirmación'" (outModal)="handleModalConfirmacion($event)">
  <p>¿Está seguro que desea cancelar el Turno seleccionado?</p>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-8">
      <div class="btn-group btn-group-justified">
        <a (click)="confirmDeleteModal()" type="submit" class="btn btn-danger">ESTOY SEGURO</a>
        <a (click)="modalConfirmacion.hide()" class="btn btn-default">NO CANCELAR</a>
      </div>
    </div>
  </div>
</app-modal>

<div style="max-height:50px!important; overflow-y:scroll;">
  <app-modal [title]="'Preparación'" (outModal)="handleSuccessModal($event)">
    <div class="card">
      <div class="card-content text-left">
        <label *ngIf="turno.dia"><strong>Día: </strong>{{turno.dia | date: 'EEEE'}}</label><br>
        <label *ngIf="turno.fecha"><strong>Fecha: </strong>{{turno.fecha | date: 'dd/MM/yyyy'}}</label><br>
        <label *ngIf="turno.hora"><strong>Hora: </strong>{{turno.hora | date: 'HH:mm'}}</label><br>
        <label *ngIf="turno.centroSalud"><strong>Centro de Salud: </strong>{{turno.centroSalud.nombre}}</label><br>
        <label *ngIf="turno.especialidad"><strong>Especialidad: </strong>{{turno.especialidad.nombre}}</label><br>
        <label *ngIf="turno.profesional"><strong>Profesional: </strong>{{turno.profesional.nombre}}</label><br>
        <label
          *ngIf="turno.motivoTurno"><strong>Preparacion: </strong>{{turno.motivoTurno.preparacion.descripcion}}</label>
      </div>
    </div>
    <div class="row">
      <div class="text-right">
        <div class="col-sm-12 col-md-4 col-md-offset-8">
          <a (click)="impimirModal.hide(); generarPDF()" class="btn btn-block btn-success">Imprimir</a>
        </div>
      </div>
    </div>
  </app-modal>
</div>
