[Unit]
Description=Turnero API
After=syslog.target

[Service]
Type=forking
User=turnero
ExecStart=/home/turnero/api.service.sh --start
ExecStop=/home/turnero/api.service.sh --start
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target

