<footer class="app-footer">
  <div class="container footer-bottom">
    <div class="row">
      <div class="col-sm-4">
        <div class="copyright">
          <a> 2017 - Higea Direct - Folder IT </a>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="info text-right">
          <ul>
            <li><a>Francisco Miguens 180 Piso 9 & 10 - Puerto de Santa Fe, Santa Fe, Argentina</a></li>
            <li><a>Teléfonos: +54 0342 4556006 / +54 0342 4547979</a></li>
            <li><a>Contacto: wecontact@folderit.net</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
