<footer class="app-footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="copyright">
              2017 - Clínica Folder IT
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="copyright text-right">
              <a>Teléfono: xxxx - xxxxxx </a> |
              <a> Correo Electrónico: contacto@folderit.net</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
