@import "../../../../styles/styles";

.app-footer {
  display: none;
  font-size: 0.85em;
}

@media (min-width: 1220px) {
  .app-footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $dark-purple;
  }
}

.footer-bottom {
  background-color: $dark-purple;
}

.copyright {
  padding: 3em;
  height: 100% !important;
  color: $gray-1;
  font-weight: bold;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: baseline !important;
}

.info {
  padding: 0.8em;
}

.info a {
  display: block;
  color: $gray-2;
  padding: 3px 0;
}

.design {
  color: $gray-1;
  font-weight: bold;
  padding: 4px 0;
  text-align: right;
}

.copyright a {
  display: block;
  color: $gray-1;
  padding: 3px 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


