<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Turnero Web</a>
    </div>
    <ul class="nav navbar-nav">
      <li class='sidebar-item'>
        <a routerLinkActive="active" [routerLink]="['/nuevo-turno']">Sacar Turno</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class='sidebar-item'>
        <a routerLinkActive="active" [routerLink]="['/mis-turnos']">Mis Turnos</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class='sidebar-item'>
        <a routerLinkActive="active" [routerLink]="['/grupo-familiar']">Grupo Familiar</a>
      </li>
    </ul>
    <ul class="nav navbar-nav" *ngIf="isAuth">
      <li class='sidebar-item'>
        <a routerLinkActive="active" [routerLink]="['/admin']">Administrar turnos</a>
      </li>
    </ul>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right text-center">

        <ul class="nav navbar-nav">
          <li (click)="logout()">
            <a><span class="app-icon fa fa-power-off" aria-hidden="true"></span>Salir</a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class='sidebar-item'>
            <a><span class="app-icon fa fa-user" aria-hidden="true"></span>Perfil</a>
          </li>
        </ul>

      </ul>
    </div>
  </div>

</nav>
