<div class="container-fluid">
  <div class="app-header">
    <h2>Reservar Turno</h2>
    <p>Selecciona el Paciente, Especialidad y Médico Profesional, luego:</p>
    <p>Escoje los días disponibles (en verde) </p>
    <p>Escoje de los días disponibles (en verde) </p>
  </div>
  <br>
  <div class="container">
    <div class="col-sm-4">
      <app-turno-busqueda-avanzada-external></app-turno-busqueda-avanzada-external>
    </div>
    <div class="col-sm-8">
      <app-turno-resultado-external></app-turno-resultado-external>
    </div>
  </div>
  <br>
  <br>
</div>



