<div class="container-fluid">
  <div class="col-sm-12">
    <label style="font-size: 45px;">Nuevo Turno {{licencia}}</label>
    <p>Acá podes sacar un nuevo turno</p>
  </div>
  <div class="container">
    <tabset [justified]="true">
      <tab heading="Busqueda Rápida">
        <br>
        <div class="row">
          <app-turno-busqueda-rapida-external></app-turno-busqueda-rapida-external>
        </div>
        <br>
        <div class="row">
          <app-turno-resultado-external></app-turno-resultado-external>
        </div>
      </tab>
      <tab heading="Busqueda Avanzada">
        <br>
        <div class="row">
          <app-turno-busqueda-avanzada-external></app-turno-busqueda-avanzada-external>
        </div>
        <br>
        <div class="row">
          <app-turno-resultado-external></app-turno-resultado-external>
        </div>
      </tab>
    </tabset>
  </div>
</div>



