<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <div class="form-group"
       [ngClass]="{'has-error':!form.controls['persona'].valid && form.controls['persona'].touched}">
    <small>Paciente</small>
    <app-select
      ngDefaultControl
      [placeHolder]="'Paciente'"
      (change)="handlePersonaClick(form.value.persona)"
      [formControl]="form.controls['persona']"
      [list]="personas"
      [displayProp]="['nombre', 'apellido']"
    ></app-select>
    <small *ngIf="form.controls['persona'].hasError('required') && form.controls['persona'].touched"
           class="help-block">Ingrese para quien es el turno
    </small>
  </div>
  <div class="form-group">
    <small>Especialidad</small>
    <app-select
      ngDefaultControl
      [placeHolder]="'Especialidad'"
      (change)="handleEspecialidadClick(form.value.especialidad)"
      [formControl]="form.controls['especialidad']"
      [list]="especialidades"
      [displayProp]="['nombre']"
    ></app-select>
  </div>
  <div class="form-group">
    <small>Médico y/o Profesional</small>
    <app-select
      ngDefaultControl
      [placeHolder]="'Médico/Profesional'"
      [formControl]="form.controls['profesional']"
      [list]="filteredProfesionales"
      [displayProp]="['apellido', 'nombre']"
    ></app-select>
  </div>
  <br>

  <small>Dias de atencion</small>
  <div class="col-sm-12" style="padding: 0; margin: 0;">

    <div class="app-container">
      <div class="dummy"></div>
      <div class="app-cal-container">
        <my-date-picker
          id="fecha"
          (calendarViewChanged)="calendarChange($event)"
          [options]="myDatePickerOptions"
          [locale]="'es'"
          [formControl]="form.controls['fecha']"
          [markedDays]="markedDays"
        ></my-date-picker>
      </div>
    </div>
  </div>

</form>
