<div class="container">
  <div class="col-sm-6 col-sm-offset-6">
    <div class="input-group h3" *ngIf="false">
      <input name="data[search]" class="form-control" id="search" type="text" placeholder="Buscar Integrantes">
      <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-search"></span>
                </button>
        </span>
    </div>
  </div>

  <div class="col-sm-3 col-sm-offset-9 text-right">
    <a (click)="showModal()" class="btn btn-success">
      <span><i class="fa fa-plus app-icon"></i>Agregar Integrante</span>
    </a>
  </div>
</div>
<div *ngIf="integrantes[0] && !desktopMode">

  <div *ngFor="let integrante of integrantes" class="text-center">
    <div class="card">
      <div class="card-content text-left">
        <label><strong>Integrante: </strong>{{ integrante.nombre }} {{ integrante.apellido }}</label><br>
        <label><strong>Documento: </strong>{{ label(tipoDocumentos,
          integrante.documento.tipoDocumento) }} {{integrante.documento.numero}}</label><br>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>

</div>
<div *ngIf="integrantes[0] && desktopMode">
  <div class="container">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped app-table">
          <thead>
          <tr>
            <th>Integrante</th>
            <th>Documento</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let integrante of integrantes">
            <td>{{ integrante.nombre }} {{ integrante.apellido }}</td>
            <td>{{ label(tipoDocumentos, integrante.documento.tipoDocumento) }} {{integrante.documento.numero}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-modal [title]="'Datos del Integrante'" (outModal)="handleModalForm($event)">

  <form [formGroup]="mForm" (ngSubmit)="addModal(mForm.value)">
    <div class="row">
      <div class="col-sm-12">
        <p class="text-danger">* Campos Requeridos</p>
      </div>
    </div>

    <fieldset>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['nombre'].valid && mForm.controls['nombre'].touched}">
            <div class="input-group">
              <label class="control-label">Nombre</label>
              <input class="form-control" type="text" placeholder="José"
                     [formControl]="mForm.controls['nombre']">
            </div>
            <small
              *ngIf="mForm.controls['nombre'].hasError('required') && mForm.controls['nombre'].touched"
              class="help-block">Debes incluir tu nombre.
            </small>
            <small
              *ngIf="mForm.controls['nombre'].hasError('pattern') && mForm.controls['nombre'].touched"
              class="help-block">El nombre no debe contener caracteres inválidos.
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['apellido'].valid && mForm.controls['apellido'].touched}">
            <div class="input-group">
              <label class="control-label">Apellido</label>
              <input class="form-control" type="text" placeholder="Perez"
                     [formControl]="mForm.controls['apellido']">
            </div>
            <small
              *ngIf="mForm.controls['apellido'].hasError('required') && mForm.controls['apellido'].touched"
              class="help-block">Debes incluir tu apellido.
            </small>
            <small
              *ngIf="mForm.controls['apellido'].hasError('pattern') && mForm.controls['apellido'].touched"
              class="help-block">El apellido no debe contener caracteres inválidos.
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['genero'].valid && mForm.controls['genero'].touched}">
            <app-select
              ngDefaultControl
              [placeHolder]="'Género'"
              [formControl]="mForm.controls['genero']"
              [list]="generos"
              [displayProp]="['label']"
            ></app-select>
            <small
              *ngIf="mForm.controls['genero'].hasError('required') && mForm.controls['genero'].touched"
              class="help-block">Ingrese su Género
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['numeroDocumento'].valid && mForm.controls['numeroDocumento'].touched}">
            <div class="input-group">
              <label class="control-label">Número de documento</label>
              <input class="form-control" type="number" placeholder="XXXXXXXX"
                     [formControl]="mForm.controls['numeroDocumento']">
            </div>
            <small
              *ngIf="mForm.controls['numeroDocumento'].hasError('required') && mForm.controls['numeroDocumento'].touched"
              class="help-block">Debes incluir tu número de documento
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group"
               [ngClass]="{'has-error':!mForm.controls['tipoDocumento'].valid && mForm.controls['tipoDocumento'].touched}">
            <app-select
              ngDefaultControl
              [placeHolder]="'Tipo de documento'"
              [formControl]="mForm.controls['tipoDocumento']"
              [list]="tipoDocumentos"
              [displayProp]="['label']"
            ></app-select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group"
               [ngClass]="{'has-error':!mForm.controls['telefono'].valid && mForm.controls['telefono'].touched}">
            <div class="input-group">
              <label class="control-label">Número de teléfono</label>
              <input class="form-control" type="tel" placeholder="0342 48XXXXX"
                     [formControl]="mForm.controls['telefono']">
            </div>
            <small
              *ngIf="mForm.controls['telefono'].hasError('required') && mForm.controls['telefono'].touched"
              class="help-block">Debes incluir un Teléfono.
            </small>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12">
          <div style="padding: 1em">
            <input id="tieneObraSocial" type="checkbox" [ngModel]="tieneObraSocial"
                   [ngModelOptions]="{standalone: true}"
                   (click)="eventClickOS($event)"/>
            <label for="tieneObraSocial">¿ Tiene Obra social ?</label>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="tieneObraSocial">
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['obraSocial'].valid && mForm.controls['obraSocial'].touched}">
            <app-select
              ngDefaultControl
              [placeHolder]="'Obra social'"
              [formControl]="mForm.controls['obraSocial']"
              [list]="obras_sociales"
              [displayProp]="['nombre']"
              (change)="handleObraSocialClick(mForm.value.obraSocial)"
            ></app-select>
            <small
              *ngIf="mForm.controls['obraSocial'].hasError('required') && mForm.controls['obraSocial'].touched"
              class="help-block">Ingrese su ObraSocial
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.value.plan  && mForm.controls['plan'].touched}">
            <app-select
              ngDefaultControl
              [placeHolder]="'Plan'"
              [formControl]="mForm.controls['plan']"
              [list]="planes"
              [displayProp]="['razon_social']"></app-select>
            <small
              *ngIf=" !mForm.value.plan && mForm.controls['plan'].touched" class="help-block">
              Ingrese su Plan.
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group"
               [ngClass]="{'has-error':!mForm.controls['nroAfiliado'].valid && mForm.controls['nroAfiliado'].touched}">
            <div class="input-group">
              <label class="control-label">Número de afiliado</label>
              <input class="form-control" type="text" placeholder="XXXXXXXX"
                     [formControl]="mForm.controls['nroAfiliado']">
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 col-md-offset-8">
        <button type="submit" [disabled]="!mForm.valid" class="btn btn-block btn-success">
          Aceptar
        </button>
      </div>
      <div class="col-sm-12 col-md-2">
        <a (click)="hideModalForm()" class="btn btn-block btn-primary">Cerrar</a>
      </div>
    </fieldset>
  </form>

</app-modal>
