<div class="container no-padding">
  <div class="col-sm-6 col-sm-offset-6">
    <div class="input-group h3" *ngIf="false">
      <input name="data[search]" class="form-control" id="search" type="text" placeholder="Buscar Integrantes">
      <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-search"></span>
                </button>
        </span>
    </div>
  </div>

  <div class="col-sm-3 col-sm-offset-9 text-right">
    <a (click)="showModal('add', {})" class="btn btn-success">
      <span><i class="fa fa-plus app-icon"></i>Agregar Integrante</span>
    </a>
  </div>
</div>

<div *ngIf="integrantes[0] && !desktopMode">

  <div *ngFor="let integrante of integrantes" class="text-center">
    <div class="card">
      <div class="card-content text-left">
        <label><strong>Integrante: </strong>{{ integrante.nombre }} {{ integrante.apellido }}</label><br>
        <label><strong>Fecha de Nacimiento: </strong>{{ integrante.fechaNacimiento | date: 'dd/MM/yyyy' }}</label><br>
        <label><strong>Tipo y Nro. de Documento: </strong>{{ label('tipoDocumentos',
          integrante.documento.tipoDocumento) }} {{integrante.documento.numero}}</label><br>
      </div>
      <div class="card-action">
        <div class="btn-group btn-group-justified">
          <a (click)="showModal('view', currentPersona)" class="btn btn-primary">
            <span><i class="fa fa-eye"></i></span></a>
          <a (click)="showModal('edit', integrante)" class="btn btn-success">
            <span><i class="fa fa-pencil"></i></span></a>
          <a *ngIf="integrante.id !== integrantes[0].id" (click)="showDeleteModal(integrante)"
             class="btn btn-danger"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="integrantes[0] && desktopMode">
  <div class="container">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Integrante</th>
            <th>Fecha de Nacimiento</th>
            <th>Tipo y Nro. de Documento</th>
            <th class="text-right">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let integrante of integrantes">
            <td>{{ integrante.nombre }} {{ integrante.apellido }}</td>
            <td>{{ integrante.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
            <td>{{ label('tipoDocumentos', integrante.documento.tipoDocumento) }} {{integrante.documento.numero}}</td>
            <td class="text-right">
              <div class="btn-group">
                <a (click)="showModal('view', currentPersona)" class="btn btn-primary">
                  <span><i class="fa fa-eye"></i></span>
                </a>
                <a (click)="showModal('edit', integrante)" class="btn btn-success">
                  <span><i class="fa fa-pencil"></i></span>
                </a>
                <a *ngIf="integrante.id !== integrantes[0].id" (click)="showDeleteModal(integrante)"
                   class="btn btn-danger">
                  <span><i class="fa fa-trash"></i></span>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal [title]="'Confirmación'" (outModal)="handleModalConfirmacion($event)">
  <p>¿Está seguro que desea eliminar el integrante seleccionado?</p>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-8">
      <div class="btn-group btn-group-justified">
        <a (click)="confirmDeleteModal()" type="submit" class="btn btn-danger">SI</a>
        <a (click)="modalConfirmacion.hide()" class="btn btn-default">NO</a>
      </div>
    </div>
  </div>
</app-modal>

<app-modal [title]="'Datos del Integrante'" (outModal)="handleModalForm($event)">

  <form [formGroup]="mForm" (ngSubmit)="confirmModal(modalAction, mForm.value)">
    <div class="row">
      <div class="col-sm-12">
        <p class="text-danger">* Campos Requeridos</p>
      </div>
    </div>
    <fieldset style="padding: 0;" [disabled]="modalAction === 'view'">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['nombre'].valid && mForm.controls['nombre'].touched}">
            <label class="control-label">Nombres</label>
            <input type="text" class="form-control" name="nombre" placeholder="Ej: José"
                   [formControl]="mForm.controls['nombre']"/>
            <small *ngIf="!mForm.controls['nombre'].valid && mForm.controls['nombre'].touched" class="help-block">
              Ingrese los Nombres
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['apellido'].valid && mForm.controls['apellido'].touched}">
            <label class="control-label">Apellidos</label>
            <input type="text" class="form-control" name="apellido" placeholder="Ej: Perez"
                   [formControl]="mForm.controls['apellido']"/>
            <small *ngIf="!mForm.controls['apellido'].valid && mForm.controls['apellido'].touched" class="help-block">
              Ingrese los Apellidos
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['genero'].valid && mForm.controls['genero'].touched}">
            <label class="control-label">Género</label>

            <app-select
              ngDefaultControl
              [formControl]="mForm.controls['genero']"
              [list]="lists.generos"
              [displayProp]="['label']"
            ></app-select>

            <small *ngIf="!mForm.controls['genero'].valid && mForm.controls['genero'].touched" class="help-block">
              Seleccione el Género
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['tipoDocumento'].valid && mForm.controls['genero'].touched}">
            <label class="control-label">Tipo de Documento</label>

            <app-select
              ngDefaultControl
              [formControl]="mForm.controls['tipoDocumento']"
              [list]="lists.tipoDocumentos"
              [displayProp]="['label']"
            ></app-select>

            <small *ngIf="!mForm.controls['tipoDocumento'].valid && mForm.controls['tipoDocumento'].touched"
                   class="help-block">Seleccione el Tipo de Documento
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{ 'has-error': !mForm.controls['numeroDocumento'].valid && mForm.controls['numeroDocumento'].touched }">
            <label class="control-label">Número de Documento</label>
            <input type="text" class="form-control" placeholder="Número de Documento"
                   [formControl]="mForm.controls['numeroDocumento']"/>
            <small *ngIf="!mForm.controls['numeroDocumento'].valid && mForm.controls['numeroDocumento'].touched"
                   class="help-block">Ingrese el Número de Documento
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{ 'has-error': !mForm.controls['fechaNacimiento'].valid && mForm.controls['fechaNacimiento'].touched }">
            <label for="fechaNacimiento" class="control-label">Fecha de Nacimiento</label>

            <my-date-picker id="fechaNacimiento" [options]="myDatePickerOptions" [locale]="'es'"
                            [formControl]="mForm.controls['fechaNacimiento']"></my-date-picker>

            <small *ngIf="!mForm.controls['fechaNacimiento'].valid && mForm.controls['fechaNacimiento'].touched"
                   class="help-block">Ingrese la Fecha de Nacimiento
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{ 'has-error': !mForm.controls['pais'].valid && mForm.controls['pais'].touched }">
            <label class="control-label">País</label>

            <app-select
              ngDefaultControl
              [formControl]="mForm.controls['pais']"
              [list]="lists.paises"
              [displayProp]="['nombre']"
              (change)="rebuildProvinceList(mForm.value.pais)"
            ></app-select>

            <small *ngIf="!mForm.controls['pais'].valid && mForm.controls['pais'].touched" class="help-block">Seleccione
              el País
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{ 'has-error': !mForm.controls['provincia'].valid && mForm.controls['provincia'].touched }">
            <label class="control-label">Provincia</label>

            <app-select
              ngDefaultControl
              [formControl]="mForm.controls['provincia']"
              [list]="lists.provincias"
              [displayProp]="['nombre']"
              (change)="rebuildLocationList(mForm.value.provincia)"
            ></app-select>

            <small *ngIf="!mForm.controls['provincia'].valid && mForm.controls['provincia'].touched" class="help-block">
              Seleccione la Provincia
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{ 'has-error': !mForm.controls['localidad'].valid && mForm.controls['localidad'].touched }">
            <label class="control-label">Localidad</label>

            <app-select
              ngDefaultControl
              [formControl]="mForm.controls['localidad']"
              [list]="lists.localidades"
              [displayProp]="['nombre']"
            ></app-select>

            <small *ngIf="!mForm.controls['localidad'].valid && mForm.controls['localidad'].touched" class="help-block">
              Seleccione la Localidad
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label class="control-label">Dirección</label>
            <input type="text" class="form-control" placeholder="Ingresar Dirección"
                   [formControl]="mForm.controls['calle']"/>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-4">

          <div class="form-group required"
               [ngClass]="{ 'has-error': !mForm.controls['telefono'].valid && mForm.controls['telefono'].touched }">
            <label class="control-label">Telefono</label>
            <input type="tel" class="form-control" placeholder="Ingresar teléfono."
                   [formControl]="mForm.controls['telefono']"/>
            <small *ngIf="!mForm.controls['telefono'].valid && mForm.controls['telefono'].touched" class="help-block">
              Ingrese su telefono.
            </small>
          </div>

        </div>
        <div class="col-sm-4">
          <label class="control-label">Celular</label>
          <div class="form-group">
            <input type="tel" class="form-control" placeholder="Ingresar teléfono."
                   [formControl]="mForm.controls['celular']"/>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-sm-4">
          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['obraSocial'].valid && mForm.controls['obraSocial'].touched}">
            <label class="control-label">Obra Social</label>

            <app-select
              ngDefaultControl
              [formControl]="mForm.controls['obraSocial']"
              [list]="obras_sociales"
              [displayProp]="['nombre']"
              (change)="handleObraSocialClick(mForm.value.obraSocial)"
            ></app-select>

            <small *ngIf="mForm.controls['obraSocial'].hasError('required') && mForm.controls['obraSocial'].touched"
                   class="help-block">Ingrese su Obra Social
            </small>
          </div>
        </div>
        <div class="col-sm-4">

          <div class="form-group required"
               [ngClass]="{'has-error':!mForm.controls['plan'].valid && mForm.controls['plan'].touched}">
            <label class="control-label">Plan</label>

            <app-select
              ngDefaultControl
              [formControl]="mForm.controls['plan']"
              [list]="planes"
              [displayProp]="['razon_social']"
            ></app-select>

            <small *ngIf="mForm.controls['plan'].hasError('required') && mForm.controls['plan'].touched"
                   class="help-block">Ingrese su Plan
            </small>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-12 no-padding-horizontal">
            <label class="control-label">Email</label>
          </div>
          <div class="col-sm-12 no-padding-horizontal">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Ingresar Corréo Electrónico."
                     [formControl]="mForm.controls['email']"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-4">
          <div class="form-group"
               [ngClass]="{'has-error':!mForm.controls['nroAfiliado'].valid && mForm.controls['nroAfiliado'].touched}">

            <div class="input-group">
              <div class="col-sm-12 no-padding-horizontal">
                <label class="control-label">Nro Afiliado</label>
              </div>
              <!--<span class="input-group-addon"><i class="fa fa-handshake-o"></i></span>-->
              <input class="form-control" type="text" placeholder="Numero Afiliado"
                     [formControl]="mForm.controls['nroAfiliado']">
              <small
                *ngIf="mForm.controls['nroAfiliado'].hasError('required') && mForm.controls['nroAfiliado'].touched"
                class="help-block">Debes incluir su numero afiliado.
              </small>
            </div>


          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="col-sm-12 no-padding-horizontal">
            <label class="control-label"> </label>
          </div>
          <div class="row text-right">
            <div class="col-sm-6">
              <button type="submit" *ngIf="['add', 'edit'].indexOf(modalAction) >= 0"
                      [disabled]="!mForm.valid" class="btn btn-block btn-primary">
                Aceptar
              </button>
            </div>
            <div class="col-sm-6">
              <a (click)="hideModalForm()" class="btn btn-block btn-default">Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

</app-modal>
