<div *ngIf="especialidades[0]">
  <h4>
    Seleccione una especialidad
  </h4>
  <div class="list-group">
    <a class="list-group-item active">
      <h4 class="list-group-item-heading">Especialidades</h4>
      <p class="list-group-item-text"> {{especialidades.length}} Especialidades Activas</p>
    </a>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th width="1em"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let especialidad of pagedItems">
          <td>{{especialidad.nombre }}</td>
          <td>
            <a (click)="showModal(especialidad)" class="btn btn-success btn-block">
              <span class="fa  fa-arrow-circle-right"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-6">
        <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>


    <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
         class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left"><strong>Confirmación</strong></h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>¿Querés asignar a <strong>{{especialidad.nombre}}</strong> al centro de salud?</label><br>
            <div class="row">
              <div class="col-sm-8"></div>
              <div class="col-sm-4">
                <div class="btn-group btn-group-justified">
                  <a (click)="asignar(especialidad)" class="btn btn-primary">SI</a>
                  <a (click)="hideModal()" class="btn btn-default">NO</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isInfoModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #infoModal="bs-modal"
         class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left"><strong>Confirmación</strong></h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideInfoModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Se agrego la especialidad</label><br>

            <div class="text-right">
              <button (click)="hideInfoModal()" class="btn btn-default">CERRAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
