<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
        <i class="fa fa-bars app-menu"></i>
      </button>
      <a class="navbar-brand" href="#">Higea Direct</a>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">

      <ul class="nav navbar-nav navbar-left text-center">
        <li class="navbar-item">
          <a routerLinkActive="active" [routerLink]="['/turno/nuevo']">Reservar Turno</a>
        </li>
        <li class="navbar-item">
          <a routerLinkActive="active" [routerLink]="['/turno/tomados']">Mis Turnos</a>
        </li>
        <li class="navbar-item">
          <a routerLinkActive="active" [routerLink]="['/grupo-familiar']">Grupo Familiar</a>
        </li>
        <li *ngIf="isAuth" class="navbar-item">
          <a routerLinkActive="active" [routerLink]="['/admin']">Administrar turnos</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right text-center">
        <li (click)="logout()">
          <a><span class="app-icon fa fa-power-off"></span>Salir</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
