@import "../../../../styles/styles";

.app-menu {
  color: white;
  font-size: 1.5em;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.navbar-toggle {
  padding: 0;
  margin-top: 13px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-toggle {
  border: 0 !important;
}

li {
  font-size: 1.2em;
}

.navbar-item {

  .active {
    font-weight: bold;
    color: white;
    background: linear-gradient(180deg, transparent 92%, white 8%);
  }

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background: linear-gradient(180deg, transparent 92%, #E95420 8%);
}
