@import "../../../../styles/styles";

.app-menu {
  color: white;
  font-size: 1.5em;
}

.navbar-toggle {
  padding: 0;
  margin-top: 20px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-item {

  .active {
    font-weight: bold;
    color: white;
    //background-color: #88c4f2;
    background: linear-gradient(180deg, transparent 92%, white 8%);
  }

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #88c4f2;
}
