<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="app-img text-center">
        <img height="96" src="./assets/img/amado.png">
        <h3 style="max-width: 300px; margin: 0 auto">Instituto de Oftalmología Santa Fe</h3>
      </div>
    </div>
  </div>

  <div class="app-landing-container">
    <a href="/turno" class="btn btn-lg app-landing-button">RESERVAR TURNO</a>
    <a href="/mis-turnos" class="btn btn-lg app-landing-button">MIS TURNOS</a>
  </div>

</div>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
