<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="app-img text-center">
        <img height="96" src="./assets/img/logo-negro.png">
        <h3>Clínica Fernandez</h3>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div (click)="navigate('/turno')" class="col-md-4 text-center no-padding">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="../../../../assets/img/nuevo-turno.jpg">
          <span class="card-title"><strong>Nuevo Turno</strong></span>
        </div>
        <div class="card-action">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-link"><strong>RESERVAR TURNO</strong></a>
          </div>
        </div>
      </div>
    </div>
    <div (click)="navigate('/mis-turnos')" class="col-md-4 text-center no-padding">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="../../../../assets/img/mis-turnos.jpg">
          <span class="card-title"><strong>Turnos Tomados</strong></span>
        </div>
        <div class="card-action">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-link"><strong>MIS TURNOS</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
