
.alert-label {
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: -ms-center;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 2000;
  border-radius: 0.5em;
  height: 80px;
  width: 60%;
  margin: 15px auto 0;
  top: 2%;
  left: 20%;
}

.alert-message{
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
}
