<div class="container-fluid">
  <div class="container">
    <div class="col-sm-12 col-md-4">
      <div class="app-header">
        <h2>Mis Turnos</h2>
        <p>Aca podes visualizar tus turnos</p>
      </div>
    </div>
    <br>
    <br>
    <form>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-md-offset-4">
          <div tooltip="Para seguir por favor ingresa tu número de documento" class="form-group">
            <div class="input-group">
              <label class="control-label">Número de documento</label>
              <input autofocus (focus)="dismissAlert()" class="form-control" type="number" min="0" max="999999999"
                     placeholder="XXXXXXXX" [(ngModel)]="numeroDocumento"
                     [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="btn btn-group btn-block">
            <button class="btn btn-block btn-primary" (click)="fetchTurnos()">
              BUSCAR TURNOS
            </button>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="container">
    <app-lista-turnos [turnos]="turnosProximos" [desktopMode]="desktopMode"
                      [mode]="'proximos'"></app-lista-turnos>
  </div>
  <!--<div class="app-powered-by text-right">-->
  <!--<img height="48" src="./assets/img/pb.png">-->
  <!--</div>-->
</div>

