<nav class="navbar navbar-default app-actionbar">
  <div class="container-fluid">
    <div class="navbar-right">
      <button type="button" class="btn btn-success navbar-btn" (click)="showSaveModal()">
        <span class="app-icon fa fa-plus"></span>
        Agregar Especialidad
      </button>
    </div>
  </div>
</nav>
<div class="list-group">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Especialidades</h4>
    <p class="list-group-item-text"> {{especialidades.length}} Especialidades Activas</p>
  </a>
  <div *ngIf="especialidades[0]">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let especialidad of especialidades">
          <td>{{especialidad.nombre}}</td>
          <td class="text-right">
            <div class="btn-group">
              <a (click)="showDeleteModal(especialidad)" class="btn btn-danger btn-md">
                <span class="fa  fa-times"></span>
              </a>
              <a (click)="showUpdateModal(especialidad)" class="btn btn-success btn-md">
                <span class="fa fa-pencil"></span>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-6">
        <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="totalItems"
                    [(ngModel)]="currentPage" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>

<app-modal [title]="'Nueva Especialidad'" (outModal)="handleSaveModal($event)">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="submitSaveForm()">

      <div class="col-sm-10">
        <div class="form-group"
             [ngClass]="{'has-error':!form.controls['especialidadLabel'].valid && form.controls['especialidadLabel'].touched}">
          <label>Especialidad:</label>
          <input [(ngModel)]="model.especialidadLabel" class="form-control" type="text" placeholder="Especialidad"
                 [formControl]="form.controls['especialidadLabel']">
          <small
            *ngIf="form.controls['especialidadLabel'].hasError('required') && form.controls['especialidadLabel'].touched"
            class="help-block">Debes incluir el nombre de la especialidad.
          </small>
        </div>
      </div>
      <div class="col-sm-2">
        <label></label>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">GUARDAR</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <app-profesional-busqueda></app-profesional-busqueda>
  </div>

</app-modal>

<app-modal [title]="'Actualizar Especialidad'" (outModal)="handleUpdateModal($event)">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="submitUpdateForm()">

      <div class="col-sm-10">
        <div class="form-group"
             [ngClass]="{'has-error':!form.controls['especialidadLabel'].valid && form.controls['especialidadLabel'].touched}">
          <label>Especialidad:</label>
          <input [(ngModel)]="model.especialidadLabel" class="form-control" type="text" placeholder="Especialidad"
                 [formControl]="form.controls['especialidadLabel']">
        </div>
      </div>
      <div class="col-sm-2">
        <label></label>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">ACTUALIZAR</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <app-profesional-busqueda></app-profesional-busqueda>
  </div>
</app-modal>

<app-modal [title]="'Eliminar Especialidad'" (outModal)="handleDeleteModal($event)">
  <label>¿Querés dar de baja esta especialidad?</label>
  <br>
  <label><strong>{{especialidad.nombre}}</strong></label>
  <div class="text-right">
    <button type="button" class="btn btn-danger" (click)="deleteEspecialidad()">ELIMINAR</button>
  </div>
</app-modal>


