<div class="container">
  <div class="row">
    <div class="absolute-center form-center">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h2 class="app-header text-center">
          Registro
        </h2>

        <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label class="col-sm-4 control-label" for="username">Usuario</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
                     required/>
              <div *ngIf="f.submitted && !username.valid" class="help-block">Ingrese un nombre de usuario</div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password1.valid }">
            <label class="col-sm-4 control-label" for="password1">Contraseña</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="password1" [(ngModel)]="model.password1" #password1="ngModel"
                     required/>
              <div *ngIf="f.submitted && !password1.valid" class="help-block">Ingrese una contraseña</div>
            </div>
          </div>

          <div class="form-group"
               [ngClass]="{ 'has-error': f.submitted && !model.password2 && model.password1 != model.password2 }">
            <label class="col-sm-4 control-label" for="password2">Repita su contraseña</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="password2" [(ngModel)]="model.password2" #password2="ngModel"
                     required/>
              <div *ngIf="f.submitted && model.password1 != model.password2" class="help-block">Sus contraseñas no
                coinciden, revise por favor
              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.pais }">
            <label class="col-sm-4 control-label">País de origen</label>
            <div class="col-sm-8">
              <select class="minimal btn btn-block dropdown-toggle">
                <option *ngFor="let pais of paises" (click)="handleCountriesClick(pais)">{{pais.nombre}}</option>
              </select>
              <div *ngIf="f.submitted && !model.pais" class="help-block">Ingrese su País de origen</div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.tipoDocumento }">
            <label class="col-sm-4 control-label">Tipo de Documento</label>
            <div class="col-sm-8">
              <select class="minimal btn btn-block dropdown-toggle">
                <option *ngFor="let tipoDocumento of tipoDocumentos" (click)="handleTipoDocumentoClick(tipoDocumento)">{{tipoDocumento}}</option>
              </select>
              <div *ngIf="f.submitted && !model.tipoDocumento" class="help-block">Ingrese su Tipo de Documento</div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !numeroDocumento.valid }">
            <label class="col-sm-4 control-label" for="numeroDocumento">Número de documento</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="numeroDocumento" [(ngModel)]="model.numeroDocumento"
                     #numeroDocumento="ngModel"
                     required/>
              <div *ngIf="f.submitted && !numeroDocumento.valid" class="help-block">Ingrese su Número de documento</div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.genero }">
            <label class="col-sm-4 control-label">Género</label>
            <div class="col-sm-8">
              <select class="minimal btn btn-block dropdown-toggle">
                <option *ngFor="let genero of generos" (click)="handleGeneroClick(genero)">{{genero}}</option>
              </select>
              <div *ngIf="f.submitted && !model.genero" class="help-block">Ingrese su Género</div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !captcha }">
            <div class="g-recaptcha-container">
              <re-captcha class="g-recaptcha" (captchaResponse)="handleCorrectCaptcha($event)" language="es"
                          site_key="6Lcf4B0UAAAAAFnu4amKAVQ-I2onmCv9OvLw0J_i"></re-captcha>
            </div>
            <div *ngIf="f.submitted && !captcha" class="help-block">Acepte el captcha</div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6">
              <div class="btn-group btn-group-justified">
                <a class="btn btn-block btn-primary">Registrarse</a>
                <a [routerLink]="['/login']" class="btn btn-block btn-default">Cancelar</a>
              </div>
            </div>
            <label class="col-sm-3 control-label"></label>
          </div>

        </form>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>


