<div class="container-fluid">

  <div class="app-header">
    <h2>Mis Turnos</h2>
    <p>Aca podes administrar tus turnos</p>
  </div>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
        <div class="form-group">
          <label class="control-label">Turnos de</label>

          <select type="text" class="form-control" [formControl]="form.controls['persona']"
                  (change)="handlePersonaClick(form.value.persona)">
            <option [ngValue]="persona" *ngFor="let persona of personas">{{labelPersona(persona)}}</option>
          </select>

        </div>
        <div class="has-error" *ngIf="!turnos[0]">
          <label><strong>No sacaste ningun turno</strong> </label>
          <div class="col-sm-14"><a [routerLink]="['/nuevo-turno']" class="btn btn-block btn-primary">SACAR UN TURNO</a>
          </div>
        </div>
      </div>

    </div>
  </form>

  <div *ngIf="turnos[0] && !desktopMode">

    <div *ngFor="let turno of turnos" class="text-center">
      <div class="card">
        <div class="card-content text-left">
          <label><strong>Día: </strong>{{turno.dia | date: 'EEEE'}}</label><br>
          <label><strong>Fecha: </strong>{{turno.fecha | date: 'dd/MM/yyyy'}}</label><br>
          <label><strong>Hora: </strong>{{turno.hora | date: 'HH:mm'}}</label><br>
          <label><strong>Centro de Salud: </strong>{{turno.centroSalud.nombre}}</label><br>
          <label><strong>Especialidad: </strong>{{turno.especialidad.nombre}}</label><br>
          <label><strong>Profesional: </strong>{{turno.profesional.nombre}}</label><br>
          <label><strong>Observaciones: </strong>{{turno.observaciones}}</label>
        </div>
        <div class="card-action">
          <div class="btn-group btn-group-justified">
            <a (click)="showModal(turno)" class="btn btn-danger">Cancelar
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div *ngIf="turnos[0] && desktopMode" class="col-sm-12">
    <h4>
      Seleccione un turno
    </h4>
    <div class="col-sm-12">
      <div class="list-group">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Día</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Centro de Salud</th>
              <th>Especialidad</th>
              <th>Profesional</th>
              <th>Observaciones</th>
              <th class="text-right">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turno of turnos">
              <td>{{turno.dia | date: 'EEEE'}}</td>
              <td>{{turno.fecha | date: 'dd/MM/yyyy'}}</td>
              <td>{{turno.hora | date: 'HH:mm'}}</td>
              <td>{{turno.centroSalud.nombre}}</td>
              <td>{{turno.especialidad.nombre}}</td>
              <td>{{turno.profesional.nombre}}</td>
              <td>{{turno.observaciones}}</td>
              <td class="text-right">
                <a (click)="showModal(turno)" class="btn btn-danger btn-md">
                  <span class="fa fa-times"></span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [title]="'Información'" (outModal)="handleModal($event)">
  <label>Para el dia <strong>{{turno.dia | date: 'dd/MM/yyyy'}}</strong> en el horario <strong>{{turno.hora | date:
    'HH:mm'}}</strong></label><br>
  <label>Para la especialidad <strong>{{turno.especialidad.nombre}}</strong> atendido por <strong
    *ngIf="turno.profesional">{{turno.profesional.nombre}} </strong><strong *ngIf="turno.profesional">{{turno.profesional.apellido}}</strong></label><br>
  <label>En el centro de salud <strong>{{turno.centroSalud.nombre}}</strong></label><br>
  <div *ngIf="false">
    <!--<sebm-google-map [latitude]="lat" [longitude]="lng">-->
    <!--<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>-->
    <!--</sebm-google-map>-->
  </div>
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <div class="btn-group btn-group-justified">
        <a (click)="eliminarTurno(turno)" class="btn btn-danger">ELIMINAR</a>
        <a (click)="hideModal()" class="btn btn-default">CERRAR</a>
      </div>
    </div>
  </div>
</app-modal>
