<div class="container-fluid">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
    <form name="f" #f="ngForm" novalidate>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.persona }">
            <label>Nuevo Turno para</label>
            <div class="btn-group btn-block" dropdown>
              <button dropdownToggle type="button" class="minimal btn btn-block btn-default">
                {{ model.persona ? (model.persona.nombre +' '+ model.persona.apellido) : 'Nuevo Turno para'}} <span
                class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem" *ngFor="let persona of personas">
                  <a class="dropdown-item" (click)="handlePersonaClick(persona)">{{labelPersona()}}</a>
                </li>
              </ul>
            </div>
            <div *ngIf="f.submitted && !model.persona" class="help-block">Ingrese para quien es el turno</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.centro }">
            <label>Centro de Salud</label>
            <div class="btn-group btn-block" dropdown>
              <button dropdownToggle type="button" class="minimal btn btn-block btn-default">
                {{ model.centro ? model.centro.nombre : 'Centro de Salud'}} <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem" *ngFor="let centro of centrosSalud">
                  <a class="dropdown-item" (click)="handleCentroSaludClick(centro)">{{centro.nombre}}</a>
                </li>
              </ul>
            </div>
            <div *ngIf="f.submitted && !model.centro" class="help-block">Ingrese su Centro de Salud</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Especialidad</label>
            <div class="btn-group btn-block" dropdown>
              <button dropdownToggle type="button" class="minimal btn btn-block btn-default">
                {{ model.especialidad ? model.especialidad.nombre : 'Especialidad'}} <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem" *ngFor="let especialidad of especialidades">
                  <a class="dropdown-item" (click)="handleEspecialidadClick(especialidad)">{{especialidad.nombre}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Profesional</label>
            <div class="btn-group btn-block" dropdown>
              <button dropdownToggle type="button" class="minimal btn btn-block btn-default">
                {{ model.profesional ? model.profesional.nombre : 'Profesional'}} <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem" *ngFor="let profesional of profesionales">
                  <a class="dropdown-item" (click)="handleProfesionalClick(profesional)">{{profesional.nombre}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Fecha</label>
            <input name="fecha" #fecha="ngModel" [(ngModel)]="model.fecha" class="form-control" id="date" type="date">
          </div>
        </div>
        <div class="col-sm-3">
          <label></label>
          <button (click)="buscar(); false" class="btn btn-primary btn-block">
            <span class="app-icon fa fa-search"></span>
            Buscar
          </button>
        </div>
        <div class="col-sm-3">
          <label></label>
          <button type="reset" (click)="f.form.reset()" class="btn btn-default btn-block">
            <span class="app-icon-dark fa fa-times-circle"></span>
            Limpiar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
