<br>
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2" *ngIf="emptyResponse === true">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">No hay resultados</h4>
    <p class="list-group-item-text">No hay resultados para tu busqueda, por favor cambie las opciones e intente
      nuevamente</p>
  </a>
</div>

<div *ngIf="turnos[0] && !desktopMode">

  <div *ngFor="let turno of turnos" class="text-center">
    <div class="card">
      <div class="card-content text-left">
        <label><strong>Día: </strong>{{turno.dia | date: 'EEEE'}}</label><br>
        <label><strong>Fecha: </strong>{{turno.fecha | date: 'dd/MM/yyyy'}}</label><br>
        <label><strong>Hora: </strong>{{turno.hora | date: 'HH:mm'}}</label><br>
        <label><strong>Centro de Salud: </strong>{{turno.centroSalud.nombre}}</label><br>
        <label><strong>Especialidad: </strong>{{turno.especialidad.nombre}}</label><br>
        <label><strong>Profesional: </strong>{{turno.profesional.nombre}}</label><br>
        <label><strong>Observaciones: </strong>{{turno.observaciones}}</label>
      </div>
      <div class="card-action">
        <div class="btn-group btn-group-justified">
          <a (click)="showTurnoModal(turno)" class="btn btn-success btn-block">Ver</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="turnos[0] && desktopMode">
  <div class="container">
    <h4>
      Seleccione un turno
    </h4>
    <div class="list-group">
      <a class="list-group-item">
        <h4 class="list-group-item-heading">{{centro.nombre}}</h4>
        <p class="list-group-item-text"> {{turnos.length}} turnos disponibles a partir del {{turnos[0].fecha | date:
          'dd/MM/yyyy'}}</p>
      </a>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Día</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Centro de Salud</th>
            <th>Especialidad</th>
            <th>Profesional</th>
            <th>Observaciones</th>
            <th width="1em"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let turno of turnos">
            <td>{{turno.dia | date: 'EEEE'}}</td>
            <td>{{turno.fecha | date: 'dd/MM/yyyy'}}</td>
            <td>{{turno.hora | date: 'HH:mm'}}</td>
            <td>{{centro.nombre}}</td>
            <td>{{turno.especialidad.nombre}}</td>
            <td>{{turno.profesional.nombre}}</td>
            <td>{{turno.observaciones}}</td>
            <td>
              <a (click)="showTurnoModal(turno)" class="btn btn-success btn-block">
                SACAR TURNO
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal [title]="'Confirmación'" (outModal)="handleTurnoModal($event)">
  <label>¿Querés tomar este turno?</label><br>
  <label>Para el dia <strong>{{turno.dia | date: 'dd/MM/yyyy'}}</strong> en el horario <strong>{{turno.hora|
    date:'HH:mm'}}</strong></label><br>
  <label>Para la especialidad <strong>{{turno.especialidad.nombre}}</strong> atendido por <strong>{{turno.profesional.nombre}}</strong></label><br>
  <label>En el <strong>{{turno.centroSalud.nombre}}</strong></label><br>
  <div *ngIf="false">
    <sebm-google-map [latitude]="lat" [longitude]="lng">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-8">
      <div class="btn-group btn-group-justified">
        <a (click)="reservarTurno(turno)" class="btn btn-block btn-primary">SI</a>
        <a (click)="turnoModal.hide()" class="btn btn-block btn-default">NO</a>
      </div>
    </div>
  </div>
</app-modal>

<app-modal [title]="'Confirmación'" (outModal)="handleSuccessModal($event)">
  <label>El turno ha sido tomado con éxito</label><br>
  <label><strong>Podés revisar tus turnos tomados accediendo al menu Mis Turnos</strong></label><br>
  <br>
  <div class="row">
    <div class="text-right">
      <button (click)="successModal.hide()" class="btn btn-success">CERRAR</button>
    </div>
  </div>
</app-modal>
