<div class="container">
  <div class="container-fluid">
    <div class="app-header">
      <h2>Reservar Turno</h2>
    </div>
  </div>
  <div class="container-fluid">
    <app-info-step [steps]="steps"></app-info-step>
  </div>
  <div class="container-fluid">
    <div class="col-sm-12">
      <br>
      <br>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-4">
      <app-turno-busqueda-avanzada-external></app-turno-busqueda-avanzada-external>
    </div>
    <div class="col-sm-8">
      <app-turno-resultado-external></app-turno-resultado-external>
    </div>
  </div>
  <!--<div class="app-powered-by text-right">-->
    <!--<img height="48" src="./assets/img/pb.png">-->
  <!--</div>-->
</div>



