<div class="login-wrapper">
  <div class="col-sm-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 no-padding-horizontal">
    <div class="login-form">
      <!--<div class="card dark-card">-->
      <div class="card">
        <div class="card-content">
          <div class="container-fluid">

            <div class="app-img">
              <img height="64" src="./assets/img/higea.png">
            </div>
            <h2 class="text-center login-header">Direct</h2>

            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

              <div class="row">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                  <label for="email">Correo Electrónico</label>
                  <input id="email" type="text" class="form-control" name="email" [(ngModel)]="model.email"
                         #email="ngModel"
                         required/>
                  <div *ngIf="f.submitted && !email.valid" class="help-block">Ingrese un usuario</div>
                </div>
              </div>

              <div class="row">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <label for="password">Contraseña</label>
                  <input id="password" type="password" class="form-control" name="password" [(ngModel)]="model.password"
                         #password="ngModel"
                         required/>
                  <div *ngIf="f.submitted && !password.valid" class="help-block">Ingrese una contraseña</div>
                </div>
              </div>

              <br>
              <div class="row">
                <button type="submit" class="btn btn-block btn-primary">Ingresar</button>
              </div>
              <div class="row">
                <a [routerLink]="['/auth/register']" class="btn btn-block btn-default">Registrarse</a>
              </div>
              <div class="row">
                <a [routerLink]="['/auth/recovery']" >Recuperar contraseña</a>
              </div>
            </form>
            <br>
            <div class="row">
              <app-google-signin></app-google-signin>
            </div>
            <div class="row">
              <app-facebook-signin></app-facebook-signin>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


