.login-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;

  .login-header {
    font-size: 2em;
    font-weight: bold;
    margin: 1vw auto;
    margin-bottom: 2vw;
    //color: white;
  }

  .app-img {
    margin: 8px auto;
    text-align: center;
  }

  label {
    //color: white;
    font-size: 18px;
  }

  input.form-control {
    //color: white !important;
  }

  .login-form {
    max-width: 350px;
    margin: 0 auto;
  }

}
