<nav class="navbar navbar-default app-actionbar">
  <div class="container-fluid">
    <div class="navbar-right">
      <button type="button" class="btn btn-success navbar-btn" (click)="showSaveModal()">
        <span class="app-icon fa fa-plus"></span>
        Agregar centro
      </button>
    </div>
  </div>
</nav>
<div class="list-group">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">Centros de Salud</h4>
    <p class="list-group-item-text"> {{centros.length}} Centros de Salud Activos</p>
  </a>
  <div *ngIf="centros[0]">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th class="text-right">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let centro of pagedItems">
          <td>{{centro.nombre}}</td>
          <td class="text-right">
            <div class="btn-group">
              <a (click)="showDeleteModal(centro)" class="btn btn-danger btn-md">
                <span class="fa  fa-times"></span>
              </a>
              <a (click)="showUpdateModal(centro)" class="btn btn-success btn-md">
                <span class="fa fa-pencil"></span>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-6">
        <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="totalItems"
                    [(ngModel)]="currentPage" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>


<!--MODAL ALTA-->
<app-modal [title]="'Nuevo Centro de Salud'" (outModal)="handleSaveModal($event)">

  <form [formGroup]="form" (ngSubmit)="submitSaveForm(form.value)">
    <div class="row">
      <div class="col-sm-10">
        <div class="form-group"
             [ngClass]="{'has-error':!form.controls['centroSaludName'].valid && form.controls['centroSaludName'].touched}">
          <label>Nombre:</label>
          <input [(ngModel)]="model.centroSaludName" class="form-control" type="text" placeholder="Hospital"
                 [formControl]="form.controls['centroSaludName']">
          <small
            *ngIf="form.controls['centroSaludName'].hasError('required') && form.controls['centroSaludName'].touched"
            class="help-block">Debes incluir el nombre.
          </small>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="text-center">
          <label></label>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Guardar</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <app-especialidad-busqueda></app-especialidad-busqueda>
  </div>
</app-modal>

<!--MODAL UPDATE-->
<app-modal [title]="'Actualizar Centro Salud'" (outModal)="handleUpdateModal($event)">

  <form [formGroup]="form" (ngSubmit)="submitUpdateForm(form.value)">
    <div class="row">
      <div class="col-sm-10">
        <div class="form-group"
             [ngClass]="{'has-error':!form.controls['centroSaludName'].valid && form.controls['centroSaludName'].touched}">
          <label>Nombre:</label>
          <input [(ngModel)]="model.centroSaludName" class="form-control" type="text" placeholder="Hospital"
                 [formControl]="form.controls['centroSaludName']">
          <small
            *ngIf="form.controls['centroSaludName'].hasError('required') && form.controls['centroSaludName'].touched"
            class="help-block">Debes incluir el nombre.
          </small>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="text-center">
          <label></label>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Guardar</button>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <app-especialidad-busqueda></app-especialidad-busqueda>
  </div>
</app-modal>

<!-- MODAL de BAJA-->
<app-modal [title]="'Confirmación'" (outModal)="handleDeleteModal($event)">
  <label>¿Querés dar de baja a este Centro de Salud?</label>
  <br>
  <label><strong>{{centro.nombre}}</strong>
  </label>
  <div class="text-right">
    <button type="button" class="btn btn-danger" (click)="deleteCentroSalud()">
      ELIMINAR
    </button>
  </div>
</app-modal>


