<div *ngIf="profesionales && profesionales[0]">
  <h4>
    Seleccione un profesional
  </h4>
  <div class="list-group">
    <a class="list-group-item">
      <h4 class="list-group-item-heading">Profesionales</h4>
      <p class="list-group-item-text"> {{profesionales.length}} Profesionales Activos</p>
    </a>
    <div class="table-responsive">
      <table class="table table-striped app-table">
        <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th width="1em"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let profesional of pagedItems"
            [ngStyle]="{'background-color': profesional.seleccionado? '#67c18c' : '','color': profesional.seleccionado? 'white' : ''}">
          <td>{{profesional.apellido}}</td>
          <td>{{profesional.nombre }}</td>
          <td>
            <a (click)="toggleProfesional(profesional)"
               [ngClass]="{'btn-success': !profesional.seleccionado , 'btn-danger': profesional.seleccionado}"
               class="btn">
              <span [ngClass]="{'fa-times': profesional.seleccionado, 'fa-plus' : !profesional.seleccionado}"
                    class="fa"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-md-6">
        <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="totalItems"
                    [(ngModel)]="currentPage" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>

  </div>
</div>
