
<div class="container">
  <div class="row">
    <div class="absolute-center card-container">

      <div (click)="navigate('/nuevo-turno')" class="col-md-4 text-center">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="../../../../../assets/turnos.jpeg">
            <span class="card-title"> <strong>Turnos</strong> </span>
          </div>
          <div class="card-action">
            <div class="btn-group btn-group-justified">
              <a class="btn btn-link"><strong>SACAR TURNO</strong></a>
            </div>
          </div>
        </div>
      </div>

      <div (click)="navigate('/mis-turnos')" class="col-md-4 text-center">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="../../../../../assets/turnos.jpeg">
            <span class="card-title"> <strong>Turnos</strong> </span>
          </div>
          <div class="card-action">
            <div class="btn-group btn-group-justified">
              <a class="btn btn-link"><strong>CANCELAR TURNO</strong></a>
            </div>
          </div>
        </div>
      </div>

      <div (click)="navigate('/grupo-familiar')" class="col-md-4 text-center">
        <div class="card">
          <div class="card-image">
            <img class="img-responsive" src="../../../../../assets/familia.jpg">
            <span class="card-title"><strong>Grupo familiar</strong></span>
          </div>
          <div class="card-action">
            <div class="btn-group btn-group-justified">
              <a class="btn btn-link"><strong>GESTIONAR GRUPO FAMILIAR</strong></a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
